/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Padding will stop adding to the box width  */
}

/* Main Styling */
/* 
    Core elements, the body, links, headings, paragaraph
    Anything that really don't have id or class
*/

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em; /* more space between line */
}

a {
    /* Defautl css for links */
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px; /* because of Reset css */
}

p {
    margin: 10px 0; /* because of Reset CSS*/
}

/* Utility classes */

/* Classes that might be used throughout the site 
   These classes need to be targetted alone without being nested
*/

.container {
    margin: auto; /* centering auto*/
    max-width: 1100px; /* manually making it responsive*/
    overflow: auto; /* always shwo the background, doesn't go out of it*/
    padding: 0 20px;

}

.text-primary {
    color: #f7f7f7;
}

.lead {
    font-size: 20px;
}

/* Helps formatting links to button everytime needed */
.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none; /* we want to be able to add the class to buttons and buttons have border*/
    cursor: pointer; /* button doesn't have pointer as default*/
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.btn:hover {
    background: #f7f7f7;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f7f7f7
}

.bg-light {
    background: #f4f4;
    color: #333;
}

.bg-primary {
    background: #f7f7f7;
    color: #333;
}
/* For large heading */
.l-heading {
    font-size: 40px;
}

/* Padding */
.py-1 { padding: 10px 0 } /* padding for the top and bottom*/
.py-2 { padding: 20px 0 }
.py-3 { padding: 30px 0 }

.clr {
    clear: both;
}

/* Navbar */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto; /* the background will show no matter what */
}

#navbar a {
    color: #fff; /* color links must be added specifically to avoid not showing*/
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

/* target the a tag on the navbar */
#navbar ul li a {
    display: block; /* so we can add padding */
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
    color: #f7c08f;
}

/* Showcase */
#showcase {
    background: url('../img/background.jpeg') no-repeat
    center center/cover; /* cover will cover the whole thing*/
    height: 600px; 
}

#showcase .showcase-content {
    color: #fff; /* Anything in the showcase will be white expect the links, must be added specifically*/
    text-align: center;
}

#showcase .showcase-content h1 {
    font-size: 60px; /* make the text bigger */
    line-height: 1.2em;
    /* We don't need the padding because we added it in the main styles */
    /* padding: 20px;  */
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.5em;
}

/* Home info */
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/bg.jpg') no-repeat;
    min-height: 100%; /* we want the image to take up the whole space*/
    /* by default image breaks out of its container, usually with image the height has to be set to 100% */
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%; 
    text-align: center;
    overflow: hidden; /* no scroll bar in case anything oes out of it*/
}

#home-info .info-content p {
    padding-bottom: 30px; /* pushes the button down */
}

/* Features */
.box { /* no nested in case we gonna use time somwhere else */
    float: left;
    width: 33.3%;
    padding: 50px; /* because we added the box-sizing:; to the reset this padding will not be added to the width */
}

/* Contact form */
#contatct-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#conatct-info textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f4f4;
}



/* Footer */
#main-footer {
    text-align: center;
    background: #444;
    padding: 20px;
}