* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #000;
  max-width: 1020px;
  margin: 0 auto;
}

header {
  background-color: #3a5ec4;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
}

h1 {
  float: left;
}

h1, ul {
  margin-top: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  float: right;
  margin-top: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: large;
}

nav ul li a:hover {
  background-color: #020d2b;
}

aside {
  padding-right: 10px;
  float: left;

}

aside ul {
  list-style-type: none;
}

aside ul li a {
  text-decoration: none;
  border-bottom: dotted 2px #6b6991;
}
aside form {
  margin-top: 15px;
}


aside form input {
  width: 80%;
  border-radius: 10px;
  padding: 2px;
}

main {
  float: left;
}

footer {
  text-align: center;
  margin: 0 auto;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: block;
}

footer ul li a{
  text-decoration: none;
  display: block;
}

.container {
  margin: 0 auto;
}
.clearfix {
  clear: both;
}


.align-right {
  float: right;
}
#profile-name {
  float: left;
}

#school {
  float: right;
}


